<% if !@users.empty? %>
  <% @users.each do |u| %>
    <p>Username: <%= u.name %><%= link_to "see their profile", user_path(u) %></p>
    <p>Member Since: <%= u.created_at.strftime("%B %w, %Y") %></p>
  <% end %>
<% else %>
  <h2>We're so dreadful all of our users left us...</h2>
<% end %>
