<% if !@tags.empty? %>
  <h1>Ways to Describe the Despair:</h1>
  <%= @tags.each do |t| %>
    <h3><%= t.name %></h3><br>
  <% end %>
<% else %>
  <h2>The current level of despair is unprecidented. Impossible to quantify or categorize</h2>
<% end %>
